body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background-color: #fcfafb;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text {
    background-color: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 1px 0px 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: #ffffff
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #ffffff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.mobileNav {
    display: none;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.fa-shopping-cart {
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }
    .search-box {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0;
        width: 110%;
    }
    .menu-bar ul li {
        height: 57px;
        width: 100%;
        font-size: 0.5rem;
        padding: 15px 0;
    }
    .logo {
        width: 150px;
    }
    .mobileNav {
        display: unset;
        width: -20 px;
        color: white;
        font-size: 50px;
        text-align: center;
    }
    .mobileNav i {
        font-size: 30px;
        text-align: center;
        padding-left: 8px;
    }
}
/* side menu */
.side-menu {
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: lightgray;
}

.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover, .side-menu ul li:active {
    color: orange;
}

.fa-angle-right {
    margin-top: 4px;
    margin-right: 4px;
    float: right;
}

@media only screen and (max-width: 768px) {
    .side-menu {
        width: 40%;
        height: 34%;
        z-index: 20;
        top: 117px;
        position: fixed;
        font-size: 12px;
        display: none;
    }
    .side-menu ul {
        padding: 0;
        margin: 5;
    }
}

/* featured categories CSS */

.featured-categories {
    margin: 50px 0;
}

.featured-categories img {
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}

.featured-categories img:hover {
    transform: rotate3d(1, 2.0, 3.0, 10deg);
}

/* on sale products css */

.on-sale {
    margin: 50px 0;
}

.title-link {
    text-decoration: none;
    color: black;
}

.title-link:hover {
    color: orange;
}

.on-sale img {
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}

.item-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    margin-bottom: 0
}

.item-description:hover {
    text-overflow: unset;
    white-space: normal;
}

.on-sale p strong {
    color: red;
}

.on-sale img:hover {
    transform: scale(1.1)
}

.price {
    font-size: 24px;
}

.add-to-cart {
    text-decoration: none;
    background-color: orange;
    color: #ffffff;
    padding: 8px 5px;
    font-size: 16px;
    float: right;
}

.add-to-cart:hover {
background-color:darkgoldenrod;
color: lightgray;

}

.title-box {
    background-color: orange;
    color: #ffffff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2 {
    font-size: 24px;
}

.title-box::after {
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

.title-box-cats {
    background-color: orange;
    color: #ffffff;
    width: 250px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box-cats h2 {
    font-size: 24px;
}

.title-box-cats::after {
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 240px;
}

footer {
    text-align: center;
    margin-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: orange;
    padding-right: 20px;
}